*{
  margin: 0;
  padding: 0;
}

.main{
  padding: 30px;
  background: rgb(40, 40, 40);
  color: white;
}

h3{
  font-weight: 600;
  margin-bottom: 10px;
}

#inputValue{
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14pt;
}

#inputBase{
  background: none;
  border: none;
  color: rgb(40, 40, 40);
  outline: none;
}

option{
  padding: 20px;
  margin: 10px;
}
.campoTexto{
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  border-radius: 4px;
}

.bx-calculator{
  color: black;
  font-size: 22pt;
  color: #ddd;
}

.dados{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dados h2{
  font-size: 13pt;
  color: white;
  margin: 10px;
  color: #ddd;
}

#inputBase2{
  background: white;
  padding: 10px;
  outline: none;
  color: rgb(40, 40, 40);
  border: none;
  border-radius: 3px;
  width: 50%;
}

input[type="submit"]{
  background: green;
  padding: 10px;
  color: rgb(40, 40, 40);
  border: none;
  border-radius: 20px;
  width: 25%;
  position: absolute;
  margin-top: 110px;
  outline: none;
  color: white;
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
header a{
  text-decoration: none;
  color: white;
}
#output{
  padding: 10px;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background: #ddd;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 20pt;
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 30px;
  background: #efefef;
  color: #ddd;
}

footer h3{
  font-size: 90%;
}